.navbar {
    max-width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(8, 8, 8);
    padding: 20px 30px;
    margin-left: 3%;
    margin-top: 25px;
    bottom:20px;
    border-width: thick;
    border-style: ridge; 
    border-color:rgb(7, 7, 6);
}
.container {
    margin-top: 5px;
    max-width: 80%;
    background-color:black;
    padding: 20px 28px;
    border-width: 20px;
border-style: groove;
border-color: rgb(102, 100, 100);

}
.button{
    width: 100%;
    font-family: fantasy;
    
}
.columns {
    padding-right: 0%;
    margin-top: 0%;
    background-color:black; 
    border-width: 20px;
    border-style: ridge; 
    border-color:black;
    
}
.notification {
    background-color:grey ;
    padding-left: 20px;
    border-width: 20px;
    border-style: groove; 
    border-color: black;
}

h1 {
    margin-left:  150px;
    margin-right: 150px;  
    
    
}
.glow {
font-size: 40px;
color:rgb(10, 10, 10);
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;   
}
@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px rgb(87, 223, 9), 0 0 20px rgb(30, 143, 36), 0 0 30px #11c34d, 0 0 40px #4bc327, 0 0 50px #0fd841, 0 0 60px #20ad1b, 0 0 70px #29be16;
    }
    to {
    text-shadow: 0 0 30px rgb(16, 211, 26), 0 0 30px #31dd13, 0 0 40px #1cb40f, 0 0 50px #31902e, 0 0 60px #46c71f, 0 0 70px #298037, 0 0 80px #07ee26;
    }
}
iframe {
column-width: 100% ;
margin-left: 0px;
border-width: 20px;
border-style: groove;
border-color: rgb(230, 9, 9);
}
