.navbar {
    max-width: 100%;
    font-family: fantasy;
    background-color:grey;
    padding: 20px 30px;
    margin-left: 2%;
    margin-top: 25px;
    bottom:20px;
    border-width: 10px;
    border-style: ridge; 
    border-color:black;
}
.container {
    margin-top: 5px;
    max-width: 80%;
    background-color:black;
    padding: 20px 28px;
    border-width: 20px;
border-style: groove;
border-color: grey;

}
.button{
    width: 100%;
    font-family: fantasy;
    
}
.columns {
    padding-right: 10%;
    margin-top: 5%;
    background-color:black; 
    border-width: 20px;
    border-style: ridge; 
    border-color:black;
    
}
.notification {
    background-color:grey ;
    padding-left: 20px;
    border-width: 20px;
    border-style: groove; 
    border-color: black;
}

h1 {
    margin-left:  150px;
    margin-right: 150px;  
    border-width: 5px;
    border-style: groove; 
    border-color: black;
    
}
.glow {
font-size: 50px;
color:rgb(10, 10, 10);
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;   
}
@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px rgb(87, 223, 9), 0 0 20px rgb(202, 128, 9), 0 0 30px #eb9409, 0 0 40px #3ad30b, 0 0 50px #0b0fee, 0 0 60px #f3ef06, 0 0 70px #12dbe2;
    }
    to {
    text-shadow: 0 0 30px rgb(229, 233, 9), 0 0 30px #eb700b, 0 0 40px #e77212, 0 0 50px #f68708, 0 0 60px #09e6c8, 0 0 70px #0a19e7, 0 0 80px #0f60e4;
    }
  }
  iframe {
column-width: 100% ;
margin-left: 0px;
border-width: 20px;
border-style: groove;
border-color: rgb(230, 9, 9);
  }