iframe {
    width: 100% ;
    margin-left: 0px;
    margin-top: 50px;
    }

.hero {
    border-width: 20px;
    border-style: ridge; 
    border-color:rgb(54, 54, 53);

}
.section {
    border-width: 20px;
    border-style: ridge; 
    border-color:rgb(54, 54, 53);
    background-color: rgb(14, 14, 13);






/*.hero {
    max-width: 100%;
    font-family:digital-clock-font;
    background-color:rgb(8, 8, 8);
    padding: 20px 30px;
    margin-left: 0%;
    margin-top: 0px;
    
    border-width: thick;
    border-style: ridge; 
    border-color:rgb(7, 7, 6);
}
.container {
    margin-top: 0px;
    margin-bottom: 20px;
    max-width: 80%;
    background-color:black;
    padding: 20px 28px;
    border-width: 20px;
border-style: groove;
border-color: rgb(53, 51, 51);

}
.button{
    width: 100%;
    font-family: fantasy;
    
}
.columns {
    padding-right: 0%;
    margin-top: 0%;
    background-color:black; 
    border-width: 0px;
    border-style: ridge; 
    border-color:black;
    
}
*.notification {
    background-color:grey ;
    padding-left: 20px;
    border-width: 20px;
    border-style: groove; 
    border-color: black;
}

h1 {
    margin-left:  150px;
    margin-right: 150px;
    text-align: center;
    
}
h2{
    text-align: center;
}


iframe {
    width: 100% ;
    margin-left: 0px;
    margin-top: 50px;
    }
    




/*.glow {
    font-size: 3rem;
color:rgb(10, 10, 10);
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;   
}
@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px rgb(87, 223, 9), 0 0 20px rgb(30, 143, 36), 0 0 30px #11c34d, 0 0 40px #4bc327, 0 0 50px #0fd841, 0 0 60px #20ad1b, 0 0 70px #29be16;
    }
    to {
    text-shadow: 0 0 30px rgb(16, 211, 26), 0 0 30px #31dd13, 0 0 40px #1cb40f, 0 0 50px #31902e, 0 0 60px #46c71f, 0 0 70px #298037, 0 0 80px #07ee26;
    }
}

